.app {
  border-radius: 15px;
  margin: auto;
  width: 300px;
  height: 500px;
  background-color: white;
}

.display {
  background-color: #242424;
  height: 20%;
  max-width: 100%;
  border-radius: 15px 15px 0 0;
  margin: 0;
  color: white;
  font-size: 4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
  overflow: hidden;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 80%;
  width: 100%;
}

.key {
  border: solid black 1px;
  font-size: 2rem;
  max-width: 100%;
  padding: 0.125rem 0.5rem;
}

.equals{
  grid-column: 1 / span 4;
  background-color: orange;
  border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 500px) {
  .app {
    width: 250px;
  }
  
}